AR=emar
RANLIB=emranlib
CC=emcc
EXPORTS=EXPORTED_FUNCTIONS=[$(shell sed "1s/.*/'_&'/; 2,$$ s/.*/,'_&'/" $(ROOT)/exports)]
CFLAGS=-Wall -g -Wno-missing-braces -Wno-parentheses -Wno-gnu-designator -I$(ROOT) -I$(ROOT)/include -I$(ROOT)/kern -c -D_THREAD_SAFE -O2
O=o
LDADD=
LDFLAGS=$(PTHREAD) -g -s "$(EXPORTS)" -s EXTRA_EXPORTED_RUNTIME_METHODS='["ccall", "cwrap"]' -s TOTAL_MEMORY=33554432
TARG=wasm.js

all: default
